html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roboto', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.45;
  color: #424242;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #424242;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar li a {
  font-weight: 500;
  transition-duration: 300ms;
}

.dropdown-menu li a {
  font-weight: 400;
}

.titulo-pagina {
  background: #f1f1f1;
  padding: 0px 16px 16px 16px;
  margin-bottom: 16px;
}

.breadcrumb {
    margin: 0 0 0 0;
    padding: 8px 0px;
    display: inherit;
    border-bottom: 0;
    background: #f1f1f1;
    border-radius: 0;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumb > li a {
    color: #9e9e9e;
}

.breadcrumb > li a:hover {
    text-decoration: underline;
}

.titulo-pagina h1 {
    float: left;
    margin: 0;
    line-height: 32px;
	font-weight: lighter;
    font-size: 30px;
}

.panel .panel-bluegray {
    border-color: #607d8b;
}

.panel-title {
	font-size: 16px;
}

.panel.panel-bluegray .panel-heading {
  color: #eceff1;
  background-color: #607d8b;
  border-color: #607d8b;
}

.panel.panel-bluegray .panel-heading h2 {
  color: #eceff1;
}

.panel .panel-white {
    border-color: #fff;
}

.panel.panel-white .panel-heading {
  color: #424242;
  background-color: #fff;
  border-color: #fff;
  border-bottom: 1px solid #dddddd;
}


.panel.panel-white .panel-heading h2 {
  color: #eceff1;
}


a.panel-title:hover {
    color: inherit;
    text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.gp-inline {
	display: inline;
}

.gp-text-chave {
	line-height: 1.846;
	font-weight: bold;
}

.gp-text-valor {
	line-height: 1.846;
}

.gp-sem-borda {
	border: none !important;
}

.gp-btn-opcao {
	margin-top: 1px;
	margin-left: 5px;
    background: inherit;
    box-shadow: none;
    color: rgba(236, 239, 241, 0.7);
    font-weight: bold;
}

a.btn.gp-btn-opcao:hover, a.btn.gp-btn-opcao:focus {
    color: #eceff1;
    background-color: rgba(236, 239, 241, 0.125);
}

a.btn.gp-btn-opcao:active, a.btn.gp-btn-opcao:visited {
    color: rgba(236, 239, 241, 0.7);
}

.gp-btn-acompanhamento {
	margin-left: 7px;
}

.gp-btn-nova-turma {
	margin-top: 9px;
	margin-right: 15px;
}

.gp-btn-voltar {
	font-size: 20px;
	color: #c3c3c3;
}

.gp-btn-voltar:HOVER {
	color: #2196f3;
}

.gp-list-group-item {
	margin-bottom: 5px;
}

.gp-modelo-doc {
	font-size: 12px;
}

.clear {
	clear: both;
}

.list-group li a {
	margin-top: -5px;
}
.gp-align-left .control-label{
	text-align: left !important;
	font-weight: bold;
}
tr:nth-child(1) td {
	border: none !important;
}

#consolidado a + a{
	margin-left: 11px;
} 
.btn-bluegray {
    -webkit-background-size: 200% 200%;
    background-size: 200%;
    background-position: 50%;
}
.btn-bluegray {
    color: #ffffff;
    background-color: #607d8b;
    border-color: transparent;
}

.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.color-error {
	color: #e51c23;
}

.spacing-right{
	margin-right: 1%;
}

.lista-fatores{
	list-style:none;
	padding-left:0;
}