body {
	background: #EDEDED;
	color: #2C3F52;
	overflow: hidden;
}

a {
	cursor: pointer;
	cursor: hand;
}

.login-container   {
	display: table;
	margin: 100px auto;
	width: 500px;
	background: #fff;
	-webkit-box-shadow : 0 0 4px rgba( 0, 0, 0, 0.2), inset 0 0 2px #ffffff;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 2px #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 2px #ffffff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 2px #ffffff;}

/* TITULOS */
.login-header {
	background:#D6D7D7;
	display:block;
	overflow:hidden;
	padding: 0;
	text-align:center
}

.login-header img{
	height: 150px;
	width: 80%;
}

.container-form {
	background:#fff;
	display:block;
	padding:30px 30px 0px 30px;
	position:relative;
}
.container-form .form-title {
	color: #777;
	display: block;
	font-size: 15px;
	font-style: italic;
	margin-bottom: 10px;
	position: relative;
	text-align: center;
}

.container-form .form-title:before{
	background: #e4e4e4;
	content: "";
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
}
.container-form .form-title span{
	background: #fff;
	display: inline-block;
	padding: 0 20px;
	position: relative;
}

/* FORMULARIO */
.form-control {
	border-radius: 0;
	height: 30px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
}

.form-group input[type=text], .form-group input[type=password] {
  font-size: 15px;
  padding: 0 0 0 56px;
  height: 40px;
}

.form-group {
	margin: 0;
	position: relative;
}

.form-group+.form-group {
	margin: 10px 0 0;
}

.form-group.form-icon .label-icon {
	border-right: 1px solid #d6d6d6;
	bottom: 5px;
	color: #d6d6d6;
	display: block;
	font-size: 14px;
	left: 0;
	line-height: 24px;
	position: absolute;
	text-align: center;
	top: 9px;
	width: 40px;
	z-index: 1002;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.btn {
	border-radius: 0;
	margin: 5px 0;
}

/* MENSAGENS */
.login-error {
	color: #B53636;
	margin: 0 0 10px 0;
	font-weight: 600;
}

footer {
	text-align: center;
	margin-bottom: 40px;
}

footer > img {
	max-width: 100px;
	margin-bottom: 10px;
}

footer > p {
	margin-bottom: 0;
	color: #7C7C7C;
}

.clear {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}