body {
	background: #EDEDED;
	color: #2C3F52;
}
a {
	cursor:pointer;
	cursor:hand;
}

/* FOOTER */
.gp-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 10px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 3px solid #e5e5e5;
	margin-top: 15px;
}

.gp-footer p:last-child {
	margin-bottom: 0;
}
.footer-height {
	height: 50px;
}

.secao-form-h4 {
	border-bottom: 1px solid #333;
}

a.funcionalidades:hover {
	color: #ffffff;
	font-weight: bold;
}

a.funcionalidades:focus {
	color: #ffffff;
	font-weight: bold;
}

.text-view-info {
    padding: 4px 8px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    vertical-align: middle;
}

.form-horario {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-horario-ckeckbox {
    display: inline;
    width: 14%;
}

.bfh-timepicker-toggle>input[readonly] {
    cursor: inherit;
    background-color: #ffffff;
}

.panel-primary>.panel-heading {
	background-color: #006687;
}
.header-anchor {
	color:#ffffff;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px;
}

.titulo-turma-select {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
}
.form-minha-presenca {
	margin: 0;
}

.panel {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-primary>.panel-heading {
    color: #008cba;
    background-color: #EDEDED;
    border-bottom: 4px solid #008CBA;
}

.panel-success>.panel-heading {
    color: #43ac6a;
    background-color: #EDEDED;
    border-bottom: 4px solid #43ac6a;
}

.panel-warning>.panel-heading {
    color: #f0ad4e;
    background-color: #EDEDED;
    border-bottom: 4px solid #eea236;
}

.panel-info>.panel-heading {
    color: #5bc0de;
    background-color: #EDEDED;
    border-bottom: 4px solid #5bc0de;
}

.panel-danger>.panel-heading {
    color: #333333;
    background-color: #EDEDED;
    border-bottom: 4px solid #008CBA;
}

.titulo-panels {
    display: inline;
    vertical-align: middle;	
}
.pull-right{
	margin-right: -15px;
}
.div-inline {
    display: inline;
    vertical-align: middle;	
}
.informacao {
	min-width: 38.8594px; 
	min-height: 33px;
}
