body {
	background: #EDEDED;
	color: #2C3F52;
}
a {
	cursor:pointer;
	cursor:hand;
}

/* FOOTER */
.gp-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	padding: 10px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 3px solid #e5e5e5;
	margin-top: 15px;
}

.gp-footer p:last-child {
	margin-bottom: 0;
}
.footer-height {
	height: 50px;
}
