<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/LayoutGestaoPessoas">

<head>
<title>Erro</title>
</head>

<section layout:fragment="conteudo">

	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-lg-12 col-md-offset-4">
					<div th:switch="${error}">
						<div th:case="'Not Found'">
							<h1>404</h1>
							<p>Página não encontrada!</p>
						</div>
						<div th:case="'Forbidden'">
							<h1>403</h1>
							<p>Você não tem permissão para acessar esta página!</p>
						</div>
						<div th:case="'Internal Server Error'">
							<h1>500</h1>
							<p>Erro interno do servidor!</p>
						</div>
						<div th:case="'Bad Request'">
							<h1>400</h1>
							<p>Erro, 400.</p>
						</div>
					</div>
					<p>rayson.ufc@gmail.com</p>
				</div>
			</div>
		</div>
	</div>










</section>
</html>