<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutEstagiario">

<head>
	<title>Gestão Pessoas | Minhas Turmas</title>
</head>

<section layout:fragment="conteudo">
	<div class="container animated fadeInRight"> 
    <div class="row">
  		<div class="col-sm-12">
			<h3 class="gp-titulo-h5">minhas turmas</h3>
		</div>

    <div class="col-sm-12">
      <div class="panel panel-default">
        <div id="painelPlano" class="panel-body gp-panel-body-background">
          <ul class="list-group">
            <li class="list-group-item gp-list-group-item">
              <b> NPI-Manhã 2016.1 <span class="label label-primary">Aberta</span></b>
              <a th:href="@{/Estagiario/Acompanhamento/1/}" class="btn btn-info btn-sm pull-right gp-btn-acompanhamento">Acompanhamento</a>
              <a href="#" class="btn btn-success btn-sm pull-right gp-btn-presenca">Estou Presente</a>
            </li>
            <li class="list-group-item gp-list-group-item">
              <b> NPI-Manhã 2016.1 <span class="label label-success">Concluída</span></b>
              <a th:href="@{/Estagiario/Acompanhamento/1/}" class="btn btn-info btn-sm pull-right gp-btn-acompanhamento">Acompanhamento</a>
              <a href="#" class="btn btn-success btn-sm pull-right gp-btn-presenca">Estou Presente</a>
            </li>
            <li class="list-group-item gp-list-group-item">
              <b> NPI-Manhã 2016.1 <span class="label label-danger">Fechada</span></b>
              <a th:href="@{/Estagiario/Acompanhamento/2/}" class="btn btn-info btn-sm pull-right gp-btn-acompanhamento">Acompanhamento</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    </div>
    </div>
</section>
</html>