<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutSupervisor">

<head>
	<title>Gestão Pessoas | Avaliar Relatório</title>
</head>

<section layout:fragment="conteudo">


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
        	<li><a th:href="@{/Supervisor/}" >Minhas Turmas</a></li>
            <li><a th:href="@{/Supervisor/Turma/1/}">Detalhes Turma</a></li>
            <li><a th:href="@{/Supervisor/Turma/1/AcompanhamentoEstagiario/1}">Acompanhamento Estagiário</a></li>
            <li><a th:href="@{/Supervisor/Turma/Acompanhamento/1/AvaliarRelatorio}">Avaliar Relatório</a></li>
        </ul>
        <h1>Avaliar Relatório</h1>
    </div>
  </div>


	<div class="container animated fadeInRight">
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#estagiario"><i class="fa fa-caret-down" aria-hidden="true"></i>  Estagiário</a>
				</div>

	          <div id="eventos" class="panel-body collapse in">
	          		<table class="table table-hover">
					    <tbody>
					      <tr>
					        <td class="gp-sem-borda"><strong>Nome</strong></td>
					        <td class="gp-sem-borda">José de Sousa Filho Almeida</td>
					      </tr>
					      <tr>
					        <td><strong>Curso</strong></td>
					        <td>Sistemas de Informação</td>
					      </tr>
					      <tr>
					      	<td><strong>Turma</strong></td>
					      	<td>NPI - 2016.1</td>
					      </tr>
					      <tr>
					        <td><strong>Email</strong></td>
					        <td>josefilhoalmeida@ufc.com.br</td>
					      </tr>
					      <tr>
					        <td><strong>Telefone</strong></td>
					        <td>(88)99899-5546</td>
					      </tr>
					      <tr>
					      	<td><strong>Usuário GitHub</strong></td>
					      	<td>josefilhoalmeida</td>
					      </tr>
					    </tbody>
				  	</table>
	          </div>
	        </div>
	      </div>


	    <div class="col-md-8">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#avaliarRelatorio">
	            	<i class="fa fa-caret-down" aria-hidden="true"></i> 
	            	Relatório Final do Estágio
	            </a>
				
				<a th:href="@{/Supervisor/Turma/Acompanhamento/1/AvaliarRelatorio}" class="btn btn-xs pull-right gp-btn-opcao">editar</a>
				
	          </div>
	          <div id="avaliarRelatorio" class="panel-body collapse in">
		          <form class="gp-align-left form-horizontal">
				    
				    <div class="form-group">
      					<label for="status" class="col-lg-2 control-label">Status</label>
      					<div class="col-lg-10">
					        <select class="form-control" id="status" title="Status" >
					          <option hidden="status"></option>
					          <option>Submetido</option>
					          <option>Correção</option>
					          <option>Rejeitado</option>
					          <option>Avaliado</option>
					        </select>
					    </div>
					</div>
				   
				    <div class="form-group">
  						<label class="control-label col-lg-2" for="nota"> Nota</label>
  						<div class="col-lg-10">
  						<input type="text" class="form-control" id="nota" placeholder="0.0"/>
						</div>
					</div>
					
				    
		         	<div class="form-group">
      					<label for="comentario" class="col-lg-2 control-label">Comentário</label>
      					<div class="col-lg-10">
        					<textarea class="form-control" rows="3" id="comentario"></textarea>
        					<span class="help-block">Digite um comentário sobre o Relatório do Aluno</span>
      					</div>
    				</div>
    				
    				<div class="form-group pull-right">
      					<div class="col-lg-10 col-lg-offset-2">
        					<button type="reset" class="btn btn-default">Cancelar</button>
        					<button type="submit" class="btn btn-success">Salvar</button>
      					</div>
    				</div>
		          </form>

	           </div>
	        </div>
	      </div>
	    </div>
	</div>
  </section>
</html>
