<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutSupervisor">

<head>
	<title>Gestão Pessoas | Gerenciar Expediente</title>
</head>

<section layout:fragment="conteudo">


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisor}">Minhas Turmas</a></li>
            <li><a>Detalhes Turma</a></li>
            <li class="active">Gerenciar Expediente</li>
        </ul>
        <h1>Gerenciar Expediente</h1>
    </div>
  </div>


	<div class="container animated fadeInRight">
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#detalhesTurma"><i class="fa fa-caret-down" aria-hidden="true"></i> Turma NPI - 2016.1</a>
  			  </div>
	          <div id="detalhesTurma" class="panel-body collapse in">
				  <table class="table table-hover">
				    <tbody>
				      <tr>
				        <td><strong>Orientador</strong></td>
				        <td th:text="${turma.orientador.nome}"> bruno</td>
				      </tr>
				      <tr>
				        <td><strong>Supervisores</strong></td>
				     	<td  th:inline="text"> <span th:each="sup : ${turma.supervisores}"> [[${sup.nome}]],</span></td>

				      </tr>
				      <tr>
				        <td><strong>Período</strong></td>
				        <td><label th:text="${#dates.format(turma.inicio, 'dd/MM/yyyy')}"></label>  a <label th:text="${#dates.format(turma.termino, 'dd/MM/yyyy')}"></label></td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	      </div>

	    <div class="col-md-8">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#add-expediente"><i class="fa fa-caret-down" aria-hidden="true"></i> Adicionar Expediente</a>
	          </div>
	          <div id="add-expediente" class="panel-body collapse in">
					<form class="form-horizontal" th:action= "@{/Supervisor/Turma/1/Expediente}" method="post" th:object="expediente">
					    <div class="form-group">
					      <label for="diaDaSemana" class="col-lg-2 control-label">Dia da Semana</label>
					      <div class="col-lg-10">
					        <select class="form-control" id="dia" th:field="diaDaSemana">
					          <option th:each = "dia : ${diaDaSemana}" 
					          		  th:value="${dia}" 
					          		  th:text = "${dia.descricao}">
					          </option> 
					        </select>
					      </div>
					    </div>
					    <div th:class="${#fields.hasErrors('horaInicio')}? 'form-group has-error' : form-group">
					    	<div class="form-item">
						      <label class="col-lg-2 control-label">Horario</label>
						      <div class="col-lg-4">
						        <input type="text" class="form-control" id="horaInicio" th:field="horaInicio" placeholder="08:00"/>
						        <label class="control-label" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}">O campo E-mail tem que ser preenchido.</label>
						      </div>
					    	</div>
					    	<div class="form-item">
						      <div class="col-lg-4">
						        <input type="text" class="form-control" id="horaTermino" th:field="horaTermino" placeholder="08:00"/>
						      </div>
					    	</div>
					    	<div class="form-item">
						      <div class="col-lg-2">
					        <button type="submit" class="btn btn-success">Adicionar</button>
						      </div>
					    	</div>
					    </div>
					</form>
	           </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#expedientes"><i class="fa fa-caret-down" aria-hidden="true"></i> Expedientes</a>
	          </div>
	          <div id="expedientes" class="panel-body collapse in">
		          <ul class="list-group">
<!-- 		            <li th:each="exp :${turma.expedientes}" class="list-group-item gp-list-group-item"> -->
<!-- 		              <b th:inline="text"> [[${exp.diaSemana.descricao}]] </b> -->
<!-- 		              <a th:href="@{/Supervisor/Turma/{id}/Expediente/{idExpediente}/Excluir(id=${est.estagiario.id})}" class="btn btn-danger btn-sm pull-right gp-btn-acompanhamento">excluir</a> -->
<!-- 		            </li> -->
		          </ul>

	           </div>
	        </div>
	      </div>
	    </div>
	</div>
  </section>
</html>
