<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoPessoas">

<head>
	<title>Gestão Pessoas | Detalhes da Turma</title>
</head>

<section layout:fragment="conteudo">


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisor}">Minhas Turmas</a></li>
            <li class="active">Detalhes Turma</li>
        </ul>
        <h1>Detalhes da Turma</h1>
    </div>
  </div>


	<div class="container animated fadeInRight">
		<div class="alert alert-dismissible alert-danger" th:if="${!#strings.isEmpty(error)}">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <p th:text="${error}"></p>
		</div>

		<div class="alert alert-dismissible alert-success" th:if="${!#strings.isEmpty(sucesso)}">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <p th:text="${sucesso}"></p>
		</div>

	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#detalhesTurma"><i class="fa fa-caret-down" aria-hidden="true"></i> <span th:text="${turma.nome}"></span> - <span th:text="${turma.semestre}"></span></a>
				<a th:href="@{'/Supervisor/Turma/' + ${turma.id} + '/Editar'}" class="btn btn-xs pull-right gp-btn-opcao">editar</a>
  			  </div>
	          <div id="detalhesTurma" class="panel-body collapse in">
				  <table class="table table-hover">
				    <tbody>
				      <tr>
				        <td><strong>Orientador</strong></td>
				        <td th:text="${turma.orientador == null ? 'Não há orientador' : turma.orientador.nome}"></td>
				      </tr>
				      <tr>
				        <td><strong>Supervisores</strong></td>
				     	<td th:inline="text"> <span th:if="${#lists.isEmpty(turma.supervisores)}">Não há supervisores</span> <span th:each="sup : ${turma.supervisores}"> [[${sup.nome}]],</span></td>
				      </tr>
				      <tr>
				        <td><strong>Período</strong></td>
				        <td><label th:text="${#dates.format(turma.inicio, 'dd/MM/yyyy')}"></label>  a <label th:text="${#dates.format(turma.termino, 'dd/MM/yyyy')}"></label></td>
				      </tr>
				      <tr>
				        <td><strong>Tipo</strong></td>
				        <td th:text="${turma.tipoTurma}"></td>
				      </tr>
				      <tr>
				        <td><strong>Status</strong></td>
				        <td th:text="${turma.status}"></td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	
	        <div th:if="${#strings.equals(turma.tipoTurma, 'NPI')}" class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#expedienteTurma"><i class="fa fa-caret-down" aria-hidden="true"></i> Expediente da Turma</a>
				<a th:href="@{/Supervisor/Turma/{id}/Expediente(id=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">Gerenciar</a>
  			  </div>
	          <div id="expedienteTurma" class="panel-body collapse in">
	          	  <p th:if="${#lists.isEmpty(turma.expedientes)}">Na há expediente</p> 

				  <table th:if="${not #lists.isEmpty(turma.expedientes)}" class="table table-hover">
				    <tbody>
				      <tr th:each="expediente : ${turma.expedientes}">
				        <td th:inline="text"><strong>[[${expediente.diaSemana.descricao}]]</strong></td>
				        <td th:inline="text">[[${#dates.format(expediente.horaInicio, 'HH:mm')}]] ás [[${#dates.format(expediente.horaTermino, 'HH:mm')}]]</td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	      </div>

	    <div class="col-md-8">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#estagiarios"><i class="fa fa-caret-down" aria-hidden="true"></i> Estágiarios</a>
	            <span th:if="${not #lists.isEmpty(turma.estagios)}">
					<a th:if="${#strings.equals(turma.tipoTurma, 'NPI')}" th:href="@{/Supervisor/Turma/{idTurma}/MapaFrequencia(idTurma=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">mapa frequência</a>
		            <a th:if="${#strings.equals(turma.tipoTurma, 'NPI')}" th:href="@{/Supervisor/Turma/{id}/TermosCompromisso(id=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">termos</a>
					<a th:if="${#strings.equals(turma.tipoTurma, 'NPI')}" th:href="@{/Supervisor/Turma/{id}/Declaracoes(id=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">declarações</a>
				</span>
					<a th:href="@{/Supervisor/Turma/{id}/AtualizarVinculos(id=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">Atualizar Vínculos</a>
	          </div>
	          <div id="estagiarios" class="panel-body collapse in">
	          
	          	  <p th:if="${#lists.isEmpty(turma.estagios)}">Na há estagiários vinculados a turma</p> 

		          <ul th:if="${not #lists.isEmpty(turma.estagios)}" class="list-group">
		            <li th:each="est :${turma.estagios}" class="list-group-item gp-list-group-item">
		              <b th:inline="text"> [[${est.estagiario.nomeCompleto}]] </b>
		              <a th:href="@{/Supervisor/Turma/Acompanhamento/{id}(id=${est.estagiario.id})}" class="btn btn-success btn-sm pull-right gp-btn-acompanhamento">acompanhamento</a>
		            </li>
		          </ul>
	           </div>
	        </div>
	
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#eventos"><i class="fa fa-caret-down" aria-hidden="true"></i> Eventos</a>
				<a th:href="@{/Supervisor/Turma/{id}/Evento(id=${turma.id})}" class="btn btn-xs pull-right gp-btn-opcao">gerenciar</a>
	          </div>

	          <div id="eventos" class="panel-body collapse in">
	          	  <p th:if="${#lists.isEmpty(turma.eventos)}">Na há evento</p> 

				  <table th:if="${not #lists.isEmpty(turma.eventos)}" class="table table-hover">
				    <tbody>
				      <tr th:each="evento :${turma.eventos}">
				        <td><strong th:text="${evento.titulo}"></strong></td>
				        <td th:inline="text">[[${#dates.format(evento.inicio, 'dd/MM/yyyy')}]] a [[${#dates.format(evento.termino, 'dd/MM/yyyy')}]]</td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	      </div>
	    </div>
	</div>
  </section>
</html>
