<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoPessoas">

<head>
	<title>Gestão Pessoas | Acompanhamento Estagiário</title>
</head>

<section layout:fragment="conteudo">
			
  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisao/}" >Minhas Turmas</a></li>
            <li><a th:href="@{'/Supervisao/Turma/' + ${estagio.turma.id}}" >Detalhes Turma</a></li>
            <li class="active">Acompanhamento Estagiário</li>
        </ul>
        <h1>Acompanhamento Estagiário</h1>
    </div>
  </div>

	<div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#estagiario" th:inline="text"><i class="fa fa-caret-down fa-caret-right fa-chevron-down" aria-hidden="true"></i> Estagiário: [[${estagio.estagiario.nomeCompleto}]]</a>
			  </div>
	          <div id="estagiario" class="panel-body collapse">
	          	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td class="gp-sem-borda"><strong>Nome:</strong></td>
				        <td class="gp-sem-borda" th:text="${estagio.estagiario.nomeCompleto}"></td>
				 	  </tr>
				      <tr>
				        <td><strong>Matrícula:</strong></td>
				        <td th:text="${estagio.estagiario.matricula}"></td>
				 	  </tr>
				      <tr>
				        <td><strong>Curso:</strong></td>
				        <td th:text="${estagio.estagiario.curso.descricao}"></td>
				      </tr>
				      <tr>
				        <td><strong>Semestre:</strong></td>
				        <td th:text="${estagio.estagiario.semestre}"></td>
				      </tr>
				      <tr>
				        <td><strong>Email:</strong></td>
				        <td th:text="${estagio.estagiario.email}"></td>
				      </tr>
				      <tr>
				      	<td><strong>Github:</strong></td>
				      	<td th:text="${estagio.estagiario.usuarioGithub}"></td> 
				      </tr>
				      <tr>
				        <td><strong>Telefone:</strong></td>
				        <td th:text="${estagio.estagiario.telefone}"></td>
				      </tr>      
				    </tbody>
				  </table>
	          </div>
	        </div>
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#detalhesTurma" th:inline="text"><i class="fa fa-caret-down fa-caret-right fa-chevron-down" aria-hidden="true"></i> Turma: [[${estagio.turma.nome}]] - [[${estagio.turma.semestre}]]</a>
			  </div>
	          <div id="detalhesTurma" class="panel-body collapse">
				  <table class="table table-hover">
				    <tbody>
				      <tr>
				        <td><strong>Orientador</strong></td>
				        <td th:text="${estagio.turma.orientador.nome}"></td>
				      </tr>
				      <tr>
				        <td><strong>Supervisores</strong></td>
				     	<td  th:inline="text"> <span th:each="sup : ${estagio.turma.supervisores}"> [[${sup.nome}]],</span></td>
				      </tr>
				      <tr>
				        <td><strong>Período</strong></td>
				        <td><label th:text="${#dates.format(estagio.turma.inicio, 'dd/MM/yyyy')}"></label>  a <label th:text="${#dates.format(estagio.turma.termino, 'dd/MM/yyyy')}"></label></td>
				      </tr>
				      <tr>
				        <td><strong>Tipo</strong></td>
				        <td th:text="${estagio.turma.tipoTurma}"></td>
				      </tr>
				      <tr>
				        <td><strong>Status</strong></td>
				        <td th:text="${estagio.turma.status}"></td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	        
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#expedienteTurma"><i class="fa fa-caret-down" aria-hidden="true"></i> Expediente</a>
				<a th:href="@{/Supervisao/Acompanhamento/{id}/Expediente(id=${estagio.id})}" class="btn btn-xs pull-right gp-btn-opcao">Configurar</a>
  			  </div>
	          <div id="expedienteTurma" class="panel-body collapse in">
	          	  <p th:if="${#lists.isEmpty(estagio.expedientes)}">Na há expediente</p>

				  <table th:if="${not #lists.isEmpty(estagio.expedientes)}" class="table table-hover">
				    <tbody>
				      <tr th:each="expediente : ${estagio.expedientes}">
				        <td th:inline="text"><strong>[[${expediente.diaSemana.descricao}]]</strong></td>
				        <td th:inline="text">[[${#dates.format(expediente.horaInicio, 'HH:mm')}]] as [[${#dates.format(expediente.horaTermino, 'HH:mm')}]]</td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	        
	      </div>
	    <div class="col-md-8">
	    	<div class="alert alert-dismissible alert-success" th:if="${! #strings.isEmpty(sucesso)}">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				<strong th:text="${sucesso}"></strong>
  			</div>

	    	<div class="alert alert-dismissible alert-warning" th:if="${! #strings.isEmpty(error)}">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				<strong th:text="${error}"></strong>
  			</div>
	    	
	        
	        <div th:if="${#strings.equals(estagio.turma.tipoTurma, 'NPI')}">
	        	<div class="panel panel-bluegray">
	          	<div class="panel-heading" >
	            	<a class="panel-title" data-toggle="collapse" data-target="#consolidado"><i class="fa fa-caret-down" aria-hidden="true"></i> Consolidado Frequências</a>
			  	</div>
	          	<div id="consolidado" class="panel-body collapse in">
	          	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-success">
			              <b>Presenças</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.porcentagemPresencas}]]%</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-danger">
			              <b>Faltas</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.porcentagemFaltas}]]%</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-warning">
			              <b>Atrasos</b> <span class="badge" th:inline="text">[[${estagio.atraso}]]</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-info">
			              <b>Reposições</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.totalReposicoes}]]</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-default">
			              <b>Pendências</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.totalPendencias}]]</span>
			            </li>
			          </ul>
			      </div>
			      <div class="col-sm-4">
			          <ul class="list-group"></ul>
			      </div>
				  <br/><br/>
	        	  <a th:href="@{/Supervisao/Acompanhamento/{id}/Frequencias(id=${estagio.id})}" class="btn btn-success btn-sm pull-right">gerenciar</a>
	          	</div>
	          
	        	</div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#avaliacaoPlano"><i class="fa fa-caret-down" aria-hidden="true"></i> Avaliação Plano</a>
			  </div>
	          <div id="avaliacaoPlano" class="panel-body collapse in">
	          	
	          	<div th:if="${submissaoPlano} != null">
			        <table class="table table-hover">
			            <tbody>
					      <tr>
					        <td class="gp-sem-borda"><strong>Nome Documento:</strong></td>
					        <td class="gp-sem-borda" th:text="${submissaoPlano.tipoSubmissao.descricao}"></td>
					      </tr>
					      <tr>
					        <td><strong>Status:</strong></td>
					        <td th:text="${submissaoPlano.statusEntrega.descricao}"></td>
					      </tr>
					      <tr>
					        <td><strong>Data Submissão:</strong></td>
					        <td th:text="${#dates.format(submissaoPlano.submetidoEm, 'dd/MM/yyyy')}"></td>
					      </tr>
					      <tr>
					        <td><strong>Nota:</strong></td>
					        <td th:text="${submissaoPlano.nota}"></td>
					      </tr>
					      <tr th:if="not ${#strings.isEmpty(submissaoPlano.comentario)}">
					        <td><strong>Comentário:</strong></td>
					        <td th:text="${submissaoPlano.comentario}"></td>
					      </tr>				      
					    </tbody>
					</table>
					<a th:if="${#strings.equals(submissaoPlano.statusEntrega, 'SUBMETIDO')}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliarPlano(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Avaliar</a>
					<a th:if="${not #strings.equals(submissaoPlano.statusEntrega, 'SUBMETIDO')}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliarPlano(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Editar Avaliação</a>
	          	</div>
	          	
	          	<p th:if="${submissaoPlano} == null">A submissão do plano de estágio ainda não foi realizada.</p>
			  </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#avaliacaoRelatorio"><i class="fa fa-caret-down" aria-hidden="true"></i> Avaliação Relatório</a>
			  </div>
	          <div id="avaliacaoRelatorio" class="panel-body collapse in">
	          	<div th:if="${submissaoRelatorio} != null">
				     <table class="table table-hover">
				      <tbody >
					    <tr>
					      <td class="gp-sem-borda"><strong>Nome Documento:</strong></td>
					      <td class="gp-sem-borda" th:text="${submissaoRelatorio.tipoSubmissao.descricao}"></td>
					    </tr>
					    <tr>
					      <td><strong>Status:</strong></td>
					      <td th:text="${submissaoRelatorio.statusEntrega}"></td>
					    </tr>
					    <tr>
					      <td><strong>Data Submissão:</strong></td>
					      <td th:text="${#dates.format(submissaoRelatorio.submetidoEm, 'dd/MM/yyyy')}"></td>
					    </tr>
					    <tr>
					      <td><strong>Nota:</strong></td>
					      <td th:text="${submissaoRelatorio.nota}"></td>
					    </tr>
					    <tr th:if="not ${#strings.isEmpty(submissaoRelatorio.comentario)}">
					      <td><strong>Comentário:</strong></td>
					      <td th:text="${submissaoRelatorio.comentario}"></td>
					    </tr>				      
				      </tbody>
				     </table>
				     <a th:if="${#strings.equals(submissaoRelatorio.statusEntrega, 'SUBMETIDO')}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliarRelatorio(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Avaliar</a>
				     <a th:if="${not #strings.equals(submissaoRelatorio.statusEntrega, 'SUBMETIDO')}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliarRelatorio(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Editar Avaliação</a>
	          	</div>

	          	<p th:if="${submissaoRelatorio} == null">A submissão do relatório final de estágio ainda não foi realizada.</p>

	          </div>
	        </div>
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#avaliacaoRendimento"><i class="fa fa-caret-down" aria-hidden="true"></i> Avaliação Rendimento</a>
			  </div>
	        <div id="avaliacaoRendimento" class="panel-body collapse in">
	         <div class="avaliacao" th:if="${estagio.avaliacaoRendimento != null and estagio.avaliacaoRendimento.modo.name()=='FORMULARIO'}">
	   			<div class="row">
	   				<div class="col-md-12">
				      <strong>Atividade curricular:</strong>
				      <p th:text="${estagio.avaliacaoRendimento.atividadeCurricular != null} ? ${estagio.avaliacaoRendimento.atividadeCurricular} : ' '"></p>
				    </div>
				    <div class="col-md-12">
				      <strong>Início da avaliação:</strong>
				      <p th:text="${estagio.avaliacaoRendimento.inicioAvaliacao != null} ? ${#dates.format(estagio.avaliacaoRendimento.inicioAvaliacao, 'dd/MM/yyyy')} : ' '"></p>
				    </div>
				    <div class="col-md-12">
				      <strong>Término da avaliação:</strong>
				      <p th:text="${estagio.avaliacaoRendimento.terminoAvaliacao != null} ? ${#dates.format(estagio.avaliacaoRendimento.terminoAvaliacao, 'dd/MM/yyyy')} : ' '"></p>
				    </div>
				    <div class="col-md-12">
				      <strong>Objetivo geral do estágio:</strong>
				      <p th:text="${estagio.avaliacaoRendimento.objetivoEstagio != null} ? ${estagio.avaliacaoRendimento.objetivoEstagio} : ' '"></p>
				    </div>
	   			</div>
	   			<hr/>
	   			<div class="row">
	         		<div class="col-md-12"><h6>ASSIDUIDADE E DISCIPLINA</h6></div>
				     <div class="col-md-12">
				      <strong>Frequência:</strong>
				      <p th:text="${estagio.avaliacaoRendimento.frequencia != null} ? ${estagio.avaliacaoRendimento.frequencia.descricaoItem} : ' '"></p>
				      </div>
				      <div class="col-md-12">
				      	<strong>Permanência:</strong>
				      	<p th:text="${estagio.avaliacaoRendimento.permanencia != null} ? ${estagio.avaliacaoRendimento.permanencia.descricaoItem} : ' '"> </p>
				      </div>
				      <div class="col-md-12">
				      	<strong>Disciplina quando ao cumprimento de normas:</strong>
				      	<p th:text="${estagio.avaliacaoRendimento.disciplina != null} ? ${estagio.avaliacaoRendimento.disciplina.descricaoItem} : ' '"></p>
				      </div>
				      <div class="col-md-12">
				      	<strong>Comentário:</strong>
				      	<p th:text="${estagio.avaliacaoRendimento.fatorAssuidadeDisciplinaComentario}"></p>
				      </div>
			     </div>
			     <hr/>
			      <div class="row">
				      	<div class="col-md-12"><h6 >INICIATIVA E PRODUTIVIDADE</h6></div>
				      	<div class="col-md-12">
				      		<strong>Iniciativa:</strong>
								<p th:text="${estagio.avaliacaoRendimento.iniciativa != null} ? ${estagio.avaliacaoRendimento.iniciativa.descricaoItem} : ' '"></p>
						 </div>
				      	<div class="col-md-12">
				      		<strong>Quantidade de Trabalho:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.quantidadeTrabalho !=null} ? ${estagio.avaliacaoRendimento.quantidadeTrabalho.descricaoItem} : ' '"></p>
				      	</div>
				      <div class="col-md-12">
				      		<strong>Qualidade de Trabalho:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.qualidadeTrabalho != null} ? ${estagio.avaliacaoRendimento.qualidadeTrabalho.descricaoItem} : ' '"></p> 
				      </div>
				      <div class="col-md-12">
				      		<strong>Cumprimento de prazos:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.cumprimentoPrazos  != null} ? ${estagio.avaliacaoRendimento.cumprimentoPrazos.descricaoItem} : ' '"></p>
			      	  </div>
			      	   <div class="col-md-12">
				      	<strong>Comentário:</strong>
				      	<p th:text="${estagio.avaliacaoRendimento.fatorIniciativaProdutividadeComentario}"></p>
				      </div>
			      </div>
			       <hr/>
			      <div class="row">
			      		<div class="col-md-12"><h6 >RESPONSABILIDADE</h6></div>
				      		<div class="col-md-12">
				      		<strong>Comprometimento com o trabalho:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.comprometimento != null} ? ${estagio.avaliacaoRendimento.comprometimento.descricaoItem} : ' '"></p>
				    	  </div>
				    	  <div class="col-md-12">
				      		<strong>Cuidado com materiais e equipamentos:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.cuidadoMateriais != null} ? ${estagio.avaliacaoRendimento.cuidadoMateriais.descricaoItem} : ' '"></p>
				    	  </div>
				    	 <div class="col-md-12">
				      		<strong>Comentário:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.fatorResponsabilidadeComentario}"></p>
				     	 </div>
			      </div>
			       <hr/>
			      <div class="row">
			      		<div class="col-md-12"><h6>RELACIONAMENTO</h6></div>
				      	<div class="col-md-12">
				      		<strong>Relacionamento junto a gerência e demais funcionários:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.relacionamento != null} ? ${estagio.avaliacaoRendimento.relacionamento.descricaoItem} : ' ' "></p>
				      	</div>
				      	<div class="col-md-12">
				      		<strong>Trabalho em equipe:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.trabalhoEquipe != null} ? ${estagio.avaliacaoRendimento.trabalhoEquipe.descricaoItem} : ' '"></p>
				     	 </div>
				     	 <div class="col-md-12">
				      		<strong>Comentário:</strong>
				      		<p th:text="${estagio.avaliacaoRendimento.fatorRelacionamentoComentario}"></p>
				     	 </div>
			     </div>
			     <hr/>
			     <div class="row">
			     	<div class="col-md-12"><h6>NOTA E COMENTÁRIO FINAL</h6></div>
			     	<div class="col-md-12">
			      		<strong>Nota Geral (0,0 a 10,0):</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.nota != null} ? ${estagio.avaliacaoRendimento.nota} : ' ' "></p>
			      	</div>
			      	<div class="col-md-12">
			      		<strong>Comentários finais e sugestões:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.comentarioFinal != null} ? ${estagio.avaliacaoRendimento.comentarioFinal} : ' ' "></p>
			      	</div>
			     </div>
			     <hr/>
			     <div class="row">
			     	<div class="col-md-12"><h6>PARECER DO PROFESSOR ORIENTADOR</h6></div>
			     	<div class="col-md-12">
			     		<strong>Confirmação do estágio:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.confirmadoNoEstagio} ? 'Confirmado no estágio' : 'Não confirmado no estágio' "></p>
			      	</div>
			      	<div class="col-md-12">
			      		<strong>Fatores que serviram de base para o parecer emitido:</strong>
			      		<ul class="lista-fatores">
				      		<li th:if="${estagio.avaliacaoRendimento.fatorAssuidade}" th:text="Assiduidade" />
				      		<li th:if="${estagio.avaliacaoRendimento.fatorDisciplina}" th:text="Disciplina" />
				      		<li th:if="${estagio.avaliacaoRendimento.fatorCapacidadeIniciativa}" th:text="${'Capacidade de Iniciativa'}" />
				      		<li th:if="${estagio.avaliacaoRendimento.fatorProdutividade}" th:text="Produtividade" />
				      		<li th:if="${estagio.avaliacaoRendimento.fatorResponsabilidade}" th:text="Responsabilidade" />
				      		<li th:if="${estagio.avaliacaoRendimento.outrosMotivos and estagio.avaliacaoRendimento.especificacaoMotivo != null}" th:text="'Outro: ' + ${estagio.avaliacaoRendimento.especificacaoMotivo}" />
			      		</ul>
			      	</div>
			      	<div class="col-md-12">
			     		<strong>Comentários/Observações:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.observacaoParecer != null} ? ${estagio.avaliacaoRendimento.observacaoParecer}  : ' ' "></p>
			      	</div>
			      	<div class="col-md-12">
			     		<strong>Necessidade de Treinamento:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.necessidadeTreinamento and estagio.avaliacaoRendimento.especificacaoTreinamento != null} ? 'Há necessidade de treinamento: '+${estagio.avaliacaoRendimento.especificacaoTreinamento}  : 'Não há necessidade de treinamento.' "></p>
			      	</div>
			      	<div class="col-md-12" th:if="${estagio.avaliacaoRendimento.necessidadeTreinamento}">
			     		<strong>Caráter do Treinamento:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.caraterTreinamentoUrgente} ? 'Urgente' : (${estagio.avaliacaoRendimento.caraterTreinamentoImportante} ? 'Importante' :  'Comum')"></p>
			      	</div>
			     </div>
			  </div>
			  
			  
			 <!-- VIA ARQUIVO --> 
			 <div class="avaliacao" th:if="${estagio.avaliacaoRendimento != null and estagio.avaliacaoRendimento.modo.name()=='ARQUIVO'}">
	   			<div class="row">
			     	<div class="col-md-12"><h6>NOTA E COMENTÁRIO FINAL</h6></div>
			     	<div class="col-md-12">
			      		<strong>Nota Geral (0,0 a 10,0):</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.nota != null} ? ${estagio.avaliacaoRendimento.nota} : ' ' "></p>
			      	</div>
			      	<div class="col-md-12">
			      		<strong>Comentários finais e sugestões:</strong>
			      		<p th:text="${estagio.avaliacaoRendimento.comentarioFinal != null} ? ${estagio.avaliacaoRendimento.comentarioFinal} : ' ' "></p>
			      	</div>
			      	<div class="col-md-12" th:if="${estagio.avaliacaoRendimento.documento != null} ">
			      		<strong>Arquivo da avaliação:</strong>
			      		<p><a class="gp-link-download-submissao" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/DownloadAvaliacaoRendimento(idEstagio=${estagio.id})}" th:text="${estagio.avaliacaoRendimento.documento.nome}+'.pdf'"></a></p>
			      	</div>
			     </div>
			 
			  </div>
			  
			  
				          		
		        <a th:if="${estagio.avaliacaoRendimento != null and estagio.avaliacaoRendimento.modo.name()=='FORMULARIO'}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliacaoRendimento/Editar(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Editar Avaliação</a>
		        <a th:if="${estagio.avaliacaoRendimento != null and estagio.avaliacaoRendimento.modo.name()=='ARQUIVO'}" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliacaoRendimentoArquivo/Editar(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Editar Avaliação</a>
		        <a th:if="${estagio.avaliacaoRendimento} == null" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliacaoRendimento(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right">Avaliar via formulário</a>
		        <a th:if="${estagio.avaliacaoRendimento} == null" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/AvaliacaoRendimentoArquivo(idEstagio=${estagio.id})}" class="btn btn-success btn-sm pull-right spacing-right">Avaliar via arquivo</a>
		        
	           
	           </div>
	         </div>
	      </div>
	   </div>
	  </div>
</section>

</html>