<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoPessoas">

<head>
	<title>Supervisor | Nova Turma</title>
	
  <style type="text/css">
    .inline {
      display:inline;
    }
    .color {
    }

    .link {
      font-weight: 700;
    }

    .statusTurmas {
      padding: 5px;
    }
    .opcao {
      margin-left: 10px;
    }
    .item-turma {
      margin-bottom: 5px; 
    }
    .legendTop {
      margin-top: 40px;
    }
    #borda {
      margin-top: 40px;
    }
    .legendBottom {
      margin-bottom: 5px;
    }
    
    .gp-panel-footer {
    	margin-top: -25px;
    	padding-bottom: 25px;
    }


  </style>
</head>

<section layout:fragment="conteudo">


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisao/}" >Minhas Turmas</a></li>
            <li><a th:href="@{'/Supervisao/Turma/' + ${turma.id}}" >Detalhes Turma</a></li>
            <li class="active">Editar Turma</li>
        </ul>
        <h1>Editar Turma</h1>
    </div>
  </div>


	<div class="container animated fadeInRight">
	    <div class="row">
		    <div class="col-md-12">
		        <div class="panel panel-bluegray">
		          <div class="panel-body">
			 		<input name="id" id="id" type="hidden" th:filed="${turma.id}" class="form-control"/>
						<form class="form-horizontal col-md-10" id="form-turma" th:action="@{/Supervisao/Turma/{idTurma}/Editar(idTurma=${turma.id})}" th:object="${turma}" method="post" >
						   <div class="form-group">
						      <label for="nome" class="col-md-2 control-label">Nome</label>
						      <div class="col-md-10">
						        <input type="text" th:field="*{nome}" class="form-control" placeholder="Nome"/>
						      </div>
						    </div>

						   <div class="form-group">
						      <label for="tipoTurma" class="col-md-2 control-label">Tipo</label>
						      <div class="col-md-10">
						        <select th:field="*{tipoTurma}" class="form-control">
						          <option th:each ="tipoTurma : ${tipoTurma}" 
							          	  th:value = "${tipoTurma}" 
							          	  th:text = "${tipoTurma.descricao}">
						          </option>
						        </select>
						      </div>
						    </div>

						   <div class="form-group">
						      <label for="status" class="col-md-2 control-label">Status</label>
						      <div class="col-md-10">
						        <select th:field="*{status}" class="form-control">
						          <option th:each ="status : ${statusTurma}" 
							          	  th:value = "${status}" 
							          	  th:text = "${status.descricao}">
						          </option>
						        </select>
      					      </div>
						    </div>
						   <div class="form-group">
						      <label for="semestre" class="col-md-2 control-label">Semestre</label>
						      <div class="col-md-10">
						        <input th:field="*{semestre}" type="text" class="form-control semestre" placeholder="Semestre"/>
						      </div>
						   </div>

						   <div class="form-group" id="form-data">
						      <label for="periodo" class="col-md-2 control-label">Período</label>
						      <div class="col-md-5">
						        <input type="text" class="form-control data" th:field="*{inicio}" placeholder="Início"/>
						      </div>
						      <div class="col-md-5">
						        <input type="text" class="form-control data" th:field="*{termino}" placeholder="Término"/>
						      </div>
						    </div>

						   <div class="form-group">
						      <label for="orientador" class="col-md-2 control-label">Orientador</label>
						      <div class="col-md-10">
						      	<select class="form-control" title="Orientador" th:field="*{orientador.id}">
						      	  <option value=""></option>
						          <option th:each ="servidor : ${servidores}" 
						          		  th:value = "${servidor.id}" 
						          		  th:text = "${servidor.nome}">
						          </option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group">
						      <label for="supervisor" class="col-md-2 control-label">Supervisor</label>
						      <div class="col-md-10">
						      	<select class="form-control supervisores" multiple="multiple" title="Supervisor" th:field="*{supervisores}">
						      	  <option value=""></option>
						          <option th:each ="servidor : ${servidores}" 
						          		  th:value = "${servidor.id}" 
						          		  th:text = "${servidor.nome}">
						          </option>
								</select>
						      </div>
						    </div>

							<div class="form-group">
						      <div class="col-lg-10 col-lg-offset-2">
						        <a class="btn btn-default" th:href="@{/Supervisao/Turma/{idTurma}(idTurma=${turma.id})}">Cancelar</a>
						        <button onclick="validaData()" type="submit" class="btn btn-success">Salvar alterações</button>
						      </div>
						    </div>
						</form>
		           </div>
		        </div>
		    </div>
	   </div>
	</div>
  </section>
</html>
