<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoPessoas">

<head>
	<title>Gestão Pessoas | Gerenciar Expediente</title>
</head>

<section layout:fragment="conteudo">


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisao}">Minhas Turmas</a></li>
            <li><a th:href="@{'/Supervisao/Turma/' + ${turma.id}}" >Detalhes Turma</a></li>
            <li class="active">Gerenciar Expediente</li>
        </ul>
        <h1>Gerenciar Expediente</h1>
    </div>
  </div>


	<div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#detalhesTurma"><i class="fa fa-caret-down" aria-hidden="true"></i> Turma NPI - 2016.1</a>
  			  </div>
	          <div id="detalhesTurma" class="panel-body collapse in">
				  <table class="table table-hover">
				    <tbody>
				      <tr>
				        <td><strong>Orientador</strong></td>
				        <td th:text="${turma.orientador == null ? 'Não há orientador' : turma.orientador.nome}"></td>
				      </tr>
				      <tr>
				        <td><strong>Supervisores</strong></td>
				     	<td th:inline="text"> <span th:if="${#lists.isEmpty(turma.supervisores)}">Não há supervisores</span> <span th:each="sup : ${turma.supervisores}"> [[${sup.nome}]],</span></td>
				      </tr>
				      <tr>
				        <td><strong>Período</strong></td>
				        <td><label th:text="${#dates.format(turma.inicio, 'dd/MM/yyyy')}"></label>  a <label th:text="${#dates.format(turma.termino, 'dd/MM/yyyy')}"></label></td>
				      </tr>
				      <tr>
				        <td><strong>Tipo</strong></td>
				        <td th:text="${turma.tipoTurma}"></td>
				      </tr>
				      <tr>
				        <td><strong>Status</strong></td>
				        <td th:text="${turma.status}"></td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	      </div>

	    <div class="col-md-8">
	    
	    	<div class="alert alert-dismissible alert-success" th:if="${! #strings.isEmpty(sucesso)}">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				<strong th:text="${sucesso}"></strong>
  			</div>
					    
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#add-expediente"><i class="fa fa-caret-down" aria-hidden="true"></i> Adicionar Expediente</a>
	          </div>
	          <div id="add-expediente" class="panel-body collapse in">
					<form class="form-horizontal" th:action= "@{/Supervisao/Turma/{idTurma}/Expediente(idTurma=${turma.id})}" method="post" th:object="${expediente}">
					    <div class="form-group">
					      <label for="diaDaSemana" class="col-lg-2 control-label">Dia da Semana</label>
					      <div class="col-lg-10">
					        <select class="form-control" id="dia" th:field="*{diaSemana}">
					          <option th:each = "dia : ${diaDaSemana}" 
					          		  th:value="${dia}" 
					          		  th:text = "${dia.descricao}">
					          </option> 
					        </select>
					      </div>
					    </div>
					    <div class="form-group">
					    	<label class="col-lg-2 control-label">Horario</label>	
					    	<div th:class="${#fields.hasErrors('horaInicio')}? 'form-item has-error' : form-item">
						      <div class="col-lg-4">
						        <input type="text" class="form-control" id="horaInicio" th:field="*{horaInicio}" placeholder="08:00"/>
						        <label class="control-label" th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}">O campo horário tem que ser preenchido.</label>
						      </div>
					    	</div>
					    	<div th:class="${#fields.hasErrors('horaTermino')}? 'form-item has-error' : form-item">
						      <div class="col-lg-4">
						        <input type="text" class="form-control" id="horaTermino" th:field="*{horaTermino}" placeholder="08:00"/>
						      	<label class="control-label" th:if="${#fields.hasErrors('horaTermino')}" th:errors="*{horaTermino}">O campo horário tem que ser preenchido.</label>
						      </div>
					    	</div>
					    	<div class="form-item">
						      <div class="col-lg-2">
					        <button type="submit" class="btn btn-success">Adicionar</button>
						      </div>
					    	</div>
					    </div>
					</form>
	           </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#expedientes"><i class="fa fa-caret-down" aria-hidden="true"></i> Expedientes</a>
	          </div>
	          <div id="expedientes" class="panel-body collapse in">
	          		<table class="table table-hover">
					    <thead>
					    	<tr>
					    		<th>Dia da Semana</th>
					    		<th>Horário</th>
					    		<th></th>
					    	</tr>
					    </thead>
					    <tbody>
					      <tr th:each="expediente : ${turma.expedientes}">
					        <td th:inline="text"><strong>[[${expediente.diaSemana.descricao}]]</strong></td>
					        <td th:inline="text">[[${#dates.format(expediente.horaInicio, 'HH:mm')}]] as [[${#dates.format(expediente.horaTermino, 'HH:mm')}]]</td>
					      	<td><a class="btn btn-danger btn-sm pull-right gp-btn-expediente"
					      		   th:href="@{/Supervisao/Turma/{idTurma}/Expediente/{idExpediente}/Excluir(idTurma=${turma.id},idExpediente=${expediente.id})}">Excluir</a></td>
					      </tr>
					    </tbody>
					 </table>
		       </div>
	        </div>
	      </div>
	    </div>
	</div>
  </section>
</html>
