<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoPessoas">

<head>
	<title>Gestão Pessoas | Acompanhamento Estagiário</title>
</head>

<section layout:fragment="conteudo">
			
  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li><a th:href="@{/Supervisao/}" >Minhas Turmas</a></li>
            <li><a th:href="@{'/Supervisao/Turma/' + ${estagio.turma.id}}" >Detalhes Turma</a></li>
            <li><a th:href="@{/Supervisao/Acompanhamento/{id}(id=${estagio.id})}">Acompanhamento Estagiário</a></li>
            <li class="active">Gerenciar Frequencias</li>
        </ul>
        <h1>Gerenciar Frequencias</h1>
    </div>
  </div>

	<div class="container">
	    <div class="row">
	      <div class="col-md-4">
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#estagiario" th:inline="text"><i class="fa fa-caret-down fa-caret-right fa-chevron-down" aria-hidden="true"></i> Estagiário: [[${estagio.estagiario.nomeCompleto}]]</a>
			  </div>
	          <div id="estagiario" class="panel-body collapse">
	          	<table class="table table-hover">
				    <tbody>
				      <tr>
				        <td class="gp-sem-borda"><strong>Nome:</strong></td>
				        <td class="gp-sem-borda" th:text="${estagio.estagiario.nomeCompleto}"></td>
				 	  </tr>
				      <tr>
				        <td><strong>Matrícula:</strong></td>
				        <td th:text="${estagio.estagiario.matricula}"></td>
				 	  </tr>
				      <tr>
				        <td><strong>Curso:</strong></td>
				        <td th:text="${estagio.estagiario.curso.descricao}"></td>
				      </tr>
				      <tr>
				        <td><strong>Email:</strong></td>
				        <td th:text="${estagio.estagiario.email}"></td>
				      </tr>
				      <tr>
				        <td><strong>Telefone:</strong></td>
				        <td th:text="${estagio.estagiario.telefone}"></td>
				      </tr>
				      <tr>
				        <td><strong>Github:</strong></td>
				        <td th:text="${estagio.estagiario.usuarioGithub}"></td>
				      </tr>
				    </tbody>
				  </table>
	          </div>
	        </div>
	      
	      
	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#detalhesTurma" th:inline="text"><i class="fa fa-caret-down fa-caret-right fa-chevron-down" aria-hidden="true"></i> Turma: [[${estagio.turma.nome}]] - [[${estagio.turma.semestre}]]</a>
			  </div>
	          <div id="detalhesTurma" class="panel-body collapse">
				  <table class="table table-hover">
				    <tbody>
				      <tr>
				        <td class="gp-sem-borda"><strong>Orientador</strong></td>
				        <td th:text="${estagio.turma.orientador.nome}" class="gp-sem-borda"> bruno</td>
				      </tr>
				      <tr>
				        <td><strong>Supervisores</strong></td>
				     	<td  th:inline="text"> <p th:each="sup : ${estagio.turma.supervisores}"> [[${sup.nome}]]</p> </td>

				      </tr>
				      <tr>
				        <td><strong>Período</strong></td>
				        <td><label th:text="${#dates.format(estagio.turma.inicio, 'dd/MM/yyyy')}"></label>  a <label th:text="${#dates.format(estagio.turma.termino, 'dd/MM/yyyy')}"></label></td>
				      </tr>
				      
				      <tr>
				        <td><strong>Tipo</strong></td>
				        <td th:text="${estagio.turma.tipoTurma}"></td>
				      </tr>
				      <tr>
				        <td><strong>Status</strong></td>
				        <td th:text="${estagio.turma.status}"></td>
				      </tr>
				    </tbody>
				  </table>
	           </div>
	        </div>
	      </div>

	    <div class="col-md-8">

	    	<div class="alert alert-dismissible alert-success" th:if="${! #strings.isEmpty(sucesso)}">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				<strong th:text="${sucesso}"></strong>
  			</div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#consolidado"><i class="fa fa-caret-down" aria-hidden="true"></i> Consolidado Frequências</a>
			  </div>
	          <div id="consolidado" class="panel-body collapse in">
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-success">
			              <b>Presenças</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.porcentagemPresencas}]]%</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-danger">
			              <b>Faltas</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.porcentagemFaltas}]]%</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-warning">
			              <b>Atrasos</b> <span class="badge" th:inline="text">[[${estagio.atraso}]] <b>min</b> </span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-info">
			              <b>Reposições</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.totalReposicoes}]]</span>
			            </li>
			          </ul>
			      </div>
	
			      <div class="col-sm-4">
			          <ul class="list-group">
			            <li class="list-group-item gp-list-group-item list-group-item-default">
			              <b>Pendências</b> <span class="badge" th:inline="text">[[${consolidadoFrequencia.totalPendencias}]]</span>
			            </li>
			          </ul>
			      </div>
			      <div class="col-sm-4">
			          <ul class="list-group"></ul>
			      </div>
				  <br/><br/>
	          </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#pendentes"><i class="fa fa-caret-down" aria-hidden="true"></i> Pendências</a>
			  </div>
	          <div id="pendentes" class="panel-body collapse in">
	          	<div th:each="frequenciaPendente : ${frequenciasPendentes}">
					<form class="form-inline" role="form" th:action="@{/Supervisao/Acompanhamento/{idEstagio}/Pendente(idEstagio=${estagio.id})}" method="post">
					  <div class="form-group">
					    <label for="dataPendencia"><strong>Data pendência</strong></label>
					    <input type="text" class="form-control" id="dataPendencia" th:value="${#dates.format(frequenciaPendente.data,'dd/MM/yyyy')}" readonly="readonly" disabled="disabled"/>
					    <input type="hidden" name="dataPendente" th:value="${#dates.format(frequenciaPendente.data,'MM/dd/yyyy')}"/>
					  </div>

					  <div class="form-group col-sm-offset-1">
					  	<label for="status"><strong>Selecione o status</strong></label>
				        <select id="status" name="status" class="form-control">
				          <option th:each ="status : ${statusFrequencia}" 
					          	  th:value = "${status}" 
					          	  th:text = "${status.descricao}">
				          </option>
				        </select>
					  </div>
					  <button type="submit" class="btn btn-success col-sm-offset-1">lançar</button>

					  <div class="form-group">
					  	<label th:if="${!#strings.isEmpty(errorDataPendente)}" th:text="${errorDataPendente}" class="color-error"></label>
					  </div>
					</form>
	          	</div>
	          </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#presenca"><i class="fa fa-caret-down" aria-hidden="true"></i> Frequências</a>
			  </div>
	          <div id="presenca" class="panel-body collapse in">
	          
				<form id="form-reposicao" class="form-horizontal" th:action="@{/Supervisao/Acompanhamento/{idEstagio}/AgendarReposicao(idEstagio=${estagio.id})}" method="post">
		  			<div class="form-group">
				    	<div class="form-item">
					    	<label for="dataReposicao" class="col-lg-1 control-label">Data</label>
					    	<div class="col-lg-4">
					    		<input type="text" class="form-control data" id="dataReposicao" name="dataReposicao" required="required" placeholder="dd/MM/aaaa"/>
					    		<label th:if="${!#strings.isEmpty(errorData)}" th:text="${errorData}" class="color-error"></label>
					    		<label th:if="${!#strings.isEmpty(errorExpediente)}" th:text="${errorExpediente}" class="color-error"></label>
					  		</div>
				    	</div>

				    	<div class="form-item">
				    	  <label class="col-lg-1 control-label">Horário</label>	
					      <div class="col-lg-2">
							<input type="text" class="form-control" id="horaAgendamentoEntrada" name="horaAgendamentoEntrada" placeholder="HH:mm" required="required"/>				    
					      </div>
				    	</div>

				    	<div class="form-item">
					      <div class="col-lg-2">
							<input type="text" class="form-control" id="horaAgendamentoSaida" name="horaAgendamentoSaida" placeholder="HH:mm" required="required"/>
					      </div>
				    	</div>

				    	<div class="form-item">
					      <div class="col-lg-2">
				        	<button type="submit" class="btn btn-success">Adicionar</button>
					      </div>
				    	</div>
			    	</div>
				</form>
	          
				<div id="frequencias">	          
					<table class="table table-hover table-frequencia">
					  <thead>
					    <tr>
					      <th class="hidden" data-sort="timestamp">Id</th>
					      <th class="sort" data-sort="timestamp">Data</th>
					      <th class="sort" data-sort="tipo">Tipo</th>
					      <th class="sort" data-sort="horaEntrada">Entrada</th>
					      <th class="sort" data-sort="horaSaida">Saída</th>
					      <th class="sort" data-sort="status">Status</th>
					      <th></th>
					    </tr>
					  </thead>
					  <tbody class="list">
						<tr th:each="frequencia : ${estagio.frequencias}">
						    <td class="hidden" th:text="${frequencia.id}"></td>
							<td class="timestamp" data-timestamp="20120911" th:inline="text" th:attr="data-timestamp=${#dates.format(frequencia.data,'yyyyMMdd')}">[[${#dates.format(frequencia.data,'dd/MM/yyyy')}]]</td>
						    <td class="tipo" th:text="${frequencia.tipo}"></td>
							<td th:if="${frequencia.horaEntrada != null}"  th:text="${#dates.format(frequencia.horaEntrada,'HH:mm')}"></td>
							<td th:if="${frequencia.horaSaida != null}" th:text="${#dates.format(frequencia.horaSaida,'HH:mm')}"></td>
							<td th:if="${frequencia.horaEntrada == null}"></td>
							<td th:if="${frequencia.horaSaida == null}"></td>
						    <td th:if="${#strings.equals(frequencia.status, 'PRESENTE')}" class="status"><span class="label label-success" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'FALTA')}" class="status"><span class="label label-danger" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'AGUARDO')}" class="status"><span class="label label-default" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'ATRASADO')}" class="status"><span class="label label-default" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'FERIADO')}" class="status"><span class="label label-default" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'ABONADO')}" class="status"><span class="label label-default" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'JUSTIFICATIVA')}" class="status"><span class="label label-default" th:text="${frequencia.status}">Default</span></td>
						    <td th:if="${#strings.equals(frequencia.status, 'AGUARDO_SAIDA')}" class="status"><span class="label label-default" th:text="${frequencia.status}"></span></td>
						    <td th:if="${frequencia.status == NULL}" class="status"><span class="label label-default"></span></td>
						    <td align="right">
								<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" contenteditable="false">Editar</button>
						    </td>
						</tr>
					  </tbody>
					</table> 
				</div>
	          </div>
	        </div>

	        <div class="panel panel-bluegray">
	          <div class="panel-heading">
	            <a class="panel-title" data-toggle="collapse" data-target="#reposicao"><i class="fa fa-caret-down" aria-hidden="true"></i> Reposições</a>
			  </div>
	          <div id="reposicao" class="panel-body collapse in">
				<div id="reposicoes">	          
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th class="sort" data-sort="timestamp">Data</th>
					      <th class="sort" data-sort="horaEntrada">Hora da entrada</th>
					      <th class="sort" data-sort="horaSaida">Hora da saída</th>
					      <th></th>
					    </tr>
					  </thead>
					  <tbody>
						<tr th:each="frequencia : ${estagio.frequencias}" th:if="${#strings.equals(frequencia.tipo, 'REPOSICAO')}">
							<td class="timestamp" data-timestamp="20120911" th:inline="text" th:attr="data-timestamp=${#dates.format(frequencia.data,'yyyyMMdd')}">[[${#dates.format(frequencia.data,'dd/MM/yyyy')}]]</td>
							<td th:text="${#dates.format(frequencia.horaAgendamentoEntrada,'HH:mm')}"></td>
							<td th:text="${#dates.format(frequencia.horaAgendamentoSaida,'HH:mm')}"></td>
					        <td>
					        	<a th:if="${#strings.equals(frequencia.status, 'AGUARDO')}" class="btn btn-danger btn-sm pull-right gp-btn-reposicao" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/Frequencias/{idReposicao}/Excluir(idEstagio=${estagio.id}, idReposicao=${frequencia.id})}">Excluir</a>
					        	<a th:if="${#strings.equals(frequencia.status, null)}" class="btn btn-danger btn-sm pull-right gp-btn-reposicao" th:href="@{/Supervisao/Acompanhamento/{idEstagio}/Frequencias/{idReposicao}/Excluir(idEstagio=${estagio.id}, idReposicao=${frequencia.id})}">Excluir</a>
				        	</td>
						</tr>
					  </tbody>
					</table> 
				</div>
	          </div>
	        </div>
	        
 	     </div>
	   </div>
	  </div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                 <h4 class="modal-title" id="myModalLabel"></h4>

            </div>
            <div class="modal-body">
            	<div id="modalContent">
            		<form id="form-editar-frequencia" role="form" name="modalForm" th:action="@{/Supervisao/Acompanhamento/{idEstagio}/EditarFrequencia(idEstagio=${estagio.id})}" method="post">
            			<div class="form-group">
            				<input type="hidden" class="form-control" name="idFrequencia" id="idFrequencia" value="" />
            			</div>
            		</form>
            	</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Editar</button>
            </div>
        </div>
    </div>
</div>



</section>





<section layout:fragment="js">
	
  <script th:src="@{/js/list.min.js}"></script>
  <script type="text/javascript">
	var options = { valueNames: [{ attr: 'data-timestamp', name: 'timestamp' }, 'status', 'tipo'] };
	var frequencias = new List('frequencias', options).sort('timestamp', { order: "desc" });
// 	var reposicoes = new List('reposicoes', options).sort('timestamp', { order: "desc" });

		$(".btn[data-target='#myModal']").click(function() {

			var columnHeadings = $(".table-frequencia thead th").map(function() { return $(this).text(); }).get();
			columnHeadings.pop();
			
		var columnValues = $(this).parent().siblings().map(function() { return $(this).text(); }).get();
		$(".modal-title").text("Editar Frequência: " + columnValues[1]);

		var modalForm = $('#form-editar-frequencia');
		
		$('#form-editar-frequencia > div').remove();
		
		var formGroup = $('<div class="form-group"></div>');
		formGroup.append('<input type="hidden" class="form-control" name="idFrequencia" id="idFrequencia" value="'+columnValues[0]+'" />'); 
		modalForm.append(formGroup);
		
		var formGroup = $('<div class="form-group"></div>');
		formGroup.append('<label for="'+columnHeadings[5]+'">'+columnHeadings[5]+'</label>');
		formGroup.append('<select class="form-control" id="status" name="status"> <option value="PRESENTE">Presente</option> <option value="FALTA">Falta</option> <option value="ATRASADO">Atrasado</option> </select>');
		modalForm.append(formGroup);
		
		var formGroup = $('<div class="form-group"></div>');
		formGroup.append('<label for="'+columnHeadings[3]+'">'+columnHeadings[3]+'</label>');
		formGroup.append('<input class="form-control" placeholder="HH:mm" name="entrada" id="entradaExpediente" value="'+columnValues[3]+'" />');
		formGroup.append('<label class="control-label"></label>');
		modalForm.append(formGroup);
		
		var formGroup = $('<div class="form-group"></div>');
		formGroup.append('<label for="'+columnHeadings[4]+'">'+columnHeadings[4]+'</label>');
		formGroup.append('<input class="form-control" placeholder="HH:mm" name="saida" id="saidaExpediente" value="'+columnValues[4]+'" />');
		formGroup.append('<label class="control-label"></label>');

		modalForm.append(formGroup);

		});

		$('.modal-footer .btn-success').click(function() {
		   $('form[name="modalForm"]').submit();
		});

  </script>
</section>
</html>