<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/LayoutGestaoEstagio">

<head>
	<title>Gestão Estágio | Turmas em Andamento</title>
</head>




<section layout:fragment="conteudo">

    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Turmas em andamento</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <li><a href="#">Turma</a></li>
            <li class="active">Turmas em andamento</li>
          </ol>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
			<h3 class="box-title">Turmas NPI</h3>
            <div class="table-responsive" th:if="${turmasNPI != null}">
              <table class="table">
                <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>Estágiarios</th>
                    <th>Período</th>
<!--                     <th class="text-nowrap"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="turma : ${turmasNPI}">
                    <td th:inline="text">
                    	<a class="btn-link" th:href="@{'/Supervisao/Turma/' + ${turma.id}}" data-toggle="tooltip" data-original-title="Detalhes"><b>[[${turma.semestre}]]</b> [[${turma.nome}]]</a>
                    </td>
                    <td th:inline="text">[[${#lists.size(turma.estagios)}]] Estagiarios</td>
                    <td th:inline="text">[[${#dates.format(turma.inicio, 'dd/MM/yyyy')}]] a [[${#dates.format(turma.termino, 'dd/MM/yyyy')}]]</td>
<!--                     <td class="text-nowrap"><a href="#" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      

      <div class="row">
        <div class="col-md-12">
          <div class="white-box">
			<h3 class="box-title">Turmas Empresa</h3>
            <div class="table-responsive" th:if="${turmasEmpresa != null}">
              <table class="table">
                <thead>
                  <tr>
                    <th>Descrição</th>
                    <th>Estágiarios</th>
                    <th>Período</th>
<!--                     <th class="text-nowrap"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="turma : ${turmasEmpresa}">
                    <td th:inline="text">
                    	<a class="btn-link" th:href="@{'/Supervisao/Turma/' + ${turma.id}}" data-toggle="tooltip" data-original-title="Detalhes"><b>[[${turma.semestre}]]</b> [[${turma.nome}]]</a>
                    </td>
                    <td th:inline="text">[[${#lists.size(turma.estagios)}]] Estagiarios</td>
                    <td th:inline="text">[[${#dates.format(turma.inicio, 'dd/MM/yyyy')}]] a [[${#dates.format(turma.termino, 'dd/MM/yyyy')}]]</td>
<!--                     <td class="text-nowrap"><a href="#" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a> </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


  <div class="container-fluid titulo-pagina">
    <div class="container">
        <ul class="breadcrumb">
            <li class="active">Inicio</li>
        </ul>
        <h1>Minhas Turmas</h1>
    </div>
  </div>

	<div class="container animated fadeInRight"> 

<div class="alert alert-dismissible alert-warning" th:if="${!#strings.isEmpty(error)}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <p th:text="${error}"></p>
</div>		
	
    <div class="row">
    <div class="col-sm-12">
    
        <div class="panel panel-bluegray">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-target="#turmas-npi"><i class="fa fa-caret-down" aria-hidden="true"></i> Turmas NPI</a>
          </div>
          <div id="turmas-npi" class="panel-body collapse in">
          	  <p th:if="${#lists.isEmpty(turmasNPI)}">Não há turmas</p>
	          <ul class="list-group">
	            <li th:if="${turmasNPI != null}" th:each="turma : ${turmasNPI}" class="list-group-item gp-list-group-item">
	              	<b th:inline="text">[[${turma.semestre}]] - [[${turma.nome}]] <span class="label label-primary"> [[${turma.status.descricao}]]</span></b>
	              	<b th:inline="text"><span class="label label-info"> [[${#lists.size(turma.estagios)}]] Estagiarios</span></b>
	              	<a th:href="@{'/Supervisao/Turma/' + ${turma.id}}" class="btn btn-success btn-sm pull-right gp-btn-acompanhamento">Detalhes</a>
<!--/* 	              	<a th:if="${turma.selecao == null}" th:href="@{'/Selecao/{idTurma}/Adicionar'(idTurma=${turma.id})}" class="btn btn-primary btn-sm pull-right gp-btn-acompanhamento">Abrir Seleção</a> */-->
<!--/* 	              	<a th:if="${turma.selecao != null}" th:href="@{'/Selecao/{idSelecao}'(idSelecao=${turma.selecao.id})}" class="btn btn-primary btn-sm pull-right gp-btn-acompanhamento">Detalhes Seleção</a> */-->
	            </li>
	          </ul>
           </div>
        </div>
    
        <div class="panel panel-bluegray">
          <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" data-target="#turmas-empresas"><i class="fa fa-caret-down" aria-hidden="true"></i> Turmas Empresas</a>
          </div>
          <div id="turmas-empresas" class="panel-body collapse in">
          	  <p th:if="${#lists.isEmpty(turmasEmpresa)}">Não há turmas</p>
	          <ul class="list-group">
	            <li th:if="${turmasEmpresa != null}" th:each="turma : ${turmasEmpresa}" class="list-group-item gp-list-group-item">
	              	<b th:inline="text">[[${turma.semestre}]] - [[${turma.nome}]] <span class="label label-primary"> [[${turma.status.descricao}]]</span></b>
	              	<b th:inline="text"><span class="label label-info"> [[${#lists.size(turma.estagios)}]] Estagiarios</span></b>
	              	<a th:href="@{'/Supervisao/Turma/' + ${turma.id}}" class="btn btn-success btn-sm pull-right gp-btn-acompanhamento">Detalhes</a>
	            </li>
	          </ul>
           </div>
        </div>
    </div>
    </div>
    </div>
</section>

<section layout:fragment="js">
	<script type="text/javascript">
		$("#turmas").addClass("active");
	</script>
</section>

</html>